{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<section class="jumbotron text-xs-center">
    <div class="container">
        <h1 class="jumbotron-heading">CC Bank</h1>
        <p class="lead text-muted">
            Welcome to the CC banking application. Here at CC banking your
            security is our utmost importance. as so we take every precaution
            in making sure your account details are secure and protected.
            <br><br>
            <a class="btn btn-primary" href="/Create_account">Create a new
                Account</a>
    </div>

</section>

{% endblock content%}
